DATABASE_URL=postgresql://vikas:changeme@db:5432/vikas_site
AUTH_SECRET=
AUTH_URL=http://<server-lan-ip>:3000
STORAGE_ENDPOINT=http://minio:9000
STORAGE_PUBLIC_URL=http://<server-lan-ip>:9000
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=vikas-media
NEXT_PUBLIC_SITE_URL=http://<server-lan-ip>:3000
ADMIN_EMAIL=
